.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('https://images.unsplash.com/photo-1609972542679-801af2bbd56e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
}
  
.card {
    background-color: #C3C4C6ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}
  
h2 {
    color: #333333;
    font-family: 'Vollkorn', serif;
    font-size: 40px;
}
  
.link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
  
.link:hover {
    color: #0056b3;
}

