.new-event-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .event-form {
    display: inline-block;
    background-color: #ACADA8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .new-event-container {
    text-align: center;
  }
  
  .event-form {
    display: inline-block;
    background-color: #B2B3B0ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .rounded-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    width: 100%;
  }
  
  .rounded-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }